/* Start skills */
body.open .skills{
    filter: blur(5px);
}
.skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.skills .container{

}
/* End skills */