/* Start Header */
body.open .footer{
    filter: blur(5px);
}
.header {
    position: relative;
    padding: 20px 0;
    background-color: var(--main-color);
}

@media (min-width: 991px) {
    .header .rectangle{
        width: 30vw;
        height: 100%;
        background-color: var(--main-color);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

@media (min-width: 991px) {
    .header {
        background-color: transparent;
    }
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ? Start icon */
.icon-logo{
    width: 100px;
    cursor: pointer;
    
}
.icon-logo img{
    width: 100%;
    height: 100%;
    
}
/* ? End icon */
/* ? Start Nav */
.header .container .nav  {
}

.header .container .nav button.darkMode{
height: 25px;
padding: 5px;
}

@media (max-width: 991px) {
    .header .container .nav {
        display: none;
    }
}
.header .container .nav ul {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.header .container .nav ul div{
    background-color: var(--main-color-white);
    border: 2px solid var(--color-text-1);
    border-radius: 100px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.header .container .nav ul li {
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.header .container .nav ul li:hover {
    color: var(--main-color);
    transform: scale(1.001);
}

/* ? End Nav */
/* ? Start Nav-2 */
.header .container .nav-2  {
    position: fixed;
    background-color: var(--main-color-white);
    width: 100%;
    height: fit-content;
    top: -330px;
    left: 0;
    transition: 0.5s ease-in-out;
    z-index: 999;
    opacity: 0;
    padding: 10px;
    border-bottom: 2px solid var(--main-color);
    /* text-align: center; */
}
@media (min-width: 991px) {
    .header .container .nav-2 {
        display: none;
    }
}
.header .container .nav-2 ul{
    padding: 55px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header .container .nav-2 ul li{
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: var(--main-transition);
}
.header .container .nav-2 ul li:hover{
    color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
}
.header .container .nav-2.nav-2-out  {

    top: 0;
    opacity: 1;
}
/* ? End Nav-2 */
.menu-darkmode{
    display: flex;
    gap: 15px;
    flex-direction: row-reverse;
}
@media (min-width: 991px) {
    .menu-darkmode {
        display: none;
    }
}
/* ? Start Menu */
    .menu{
        position: relative;
        z-index: 9999;
    }

@media (min-width: 991px) {
    .menu{
        display: none;
    }
}
.menu .hamburger {
    cursor: pointer;
}

.menu .hamburger input {
    display: none;
}

.menu .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 2.5em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .line {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 991px) {
    .changing .menu .line  {
        stroke: var(--color-text-1);
    }
}
.menu .line-top-bottom {
    stroke-dasharray: 12 63;
}

.menu .hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.menu .hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* ? End Menu */
/* ? Start darkMode */
button.darkMode{
    all: unset;
    cursor: pointer;
    color: #fff;
    position: relative;
    z-index: 9999;
}

@media (min-width: 991px) {
    button.darkMode {
        color: var(--color-text-1);
    }
}
@media (max-width: 991px) {
    .changing button.darkMode {
        color: var(--color-text-1);
        
    }
}
/* ? End darkMode */
/* End Header */