/* Start customerReviews */
body.open .customerReviews{
    filter: blur(5px);
}
.customerReviews{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.customerReviews .container{
    margin-top: 35px;
}
/* ? Start swiper */
.customerReviews .container .swiper{
}
.customerReviews .container .swiper .swiper-slide{
    padding-bottom: 100px;
}
.customerReviews .container .swiper .swiper-slide:nth-child(odd) .card{
    margin-top: 100px;
}
@media (max-width: 768px) {
    .customerReviews .container .swiper .swiper-slide:nth-child(odd) .card{
        margin-top: 30px;
    }
}
.customerReviews .container .swiper .swiper-slide .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}
.customerReviews .container .swiper .swiper-slide .card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-white);
    padding:38px 16px 16px;
    border-radius: 8px;
    margin-top: 30px;
    border: 1px solid #dddddd;
    transition: 0.3s;
    z-index: 2;
}
 body.dark .customerReviews .container .swiper .swiper-slide .card::before{
    content: "";
    border-radius: 8px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
 body.dark .customerReviews .container .swiper .swiper-slide .card{
    border: 1px solid #252525;
}
.customerReviews .container .swiper .swiper-slide .card:hover{
    box-shadow: 2px 2px 30px 0px rgba(20, 20, 20, 0.1);
}

.customerReviews .container .swiper .swiper-slide .card .quote{
    position: absolute;
    width: 20px;
    left: 10px;
    top: 10px;
    opacity: 0.4;
}

.customerReviews .container .swiper .swiper-slide .card .image{
    border: 1px solid #dddddd;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(17, 255, 0);
}
body.dark .customerReviews .container .swiper .swiper-slide .card .image{
    border: 1px solid #252525;
}
.customerReviews .container .swiper .swiper-slide .card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.customerReviews .container .swiper .swiper-slide .card  h3{
    font-size: 20px
    ;
}
.customerReviews .container .swiper .swiper-slide .card .img-project{
    width: 100%;
    border-radius: 6px;
    margin-top: 20px;
    max-height: 200px;
    overflow: hidden;
}
.customerReviews .container .swiper .swiper-slide .card .img-project img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 20px;
}
.customerReviews .container .swiper .swiper-slide .card .stars{

}
.customerReviews .container .swiper .swiper-slide .card .stars .icon{
    font-size: 14px;
    color: #fbbf24;
}
.customerReviews .container .swiper .swiper-slide .card p{
    text-align: center;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 400;
    text-overflow:ellipsis;
}

/* ? Start button */
.customerReviews .container .swiper .swiper-slide a {
    position: relative;
    padding: 5px 35px;
    background: var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    border: 3px solid var(--main-color);
    border-radius: 100px;
    box-shadow: 0 0 0 var(--main-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .customerReviews .container .swiper .swiper-slide .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #353535);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .customerReviews .container .swiper .swiper-slide .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #353535);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .customerReviews .container .swiper .swiper-slide .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #353535);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .customerReviews .container .swiper .swiper-slide .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #353535);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .customerReviews .container .swiper .swiper-slide .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #353535);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .customerReviews .container .swiper .swiper-slide .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #353535);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  .customerReviews .container .swiper .swiper-slide a:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 25px #3535358c;
  }
  
  .customerReviews .container .swiper .swiper-slide a:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #353535);
    z-index: 2;
  }
  
  .customerReviews .container .swiper .swiper-slide a:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #353535);
    z-index: 2;
  }
  
  .customerReviews .container .swiper .swiper-slide a:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #353535);
    z-index: 2;
  }
  
  .customerReviews .container .swiper .swiper-slide a:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #353535);
    z-index: 2;
  }
  
  .customerReviews .container .swiper .swiper-slide a:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #353535);
    z-index: 2;
  }
  
  .customerReviews .container .swiper .swiper-slide a:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #353535);
    z-index: 2;
  }
  
  .customerReviews .container .swiper .swiper-slide .fil0 {
    fill: #fffdef;
  }
  
/* ? End button */
/* ? End swiper */

.customerReviews .swiper-pagination {
    margin-top: 20px;
}

.customerReviews .swiper-pagination-bullet {

    width: 14px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--color-text-1);
    cursor: pointer;
    transition: 0.4s ease;    
}





/* End customerReviews */