
.OurBestWork .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.OurBestWork .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    position: absolute;
    top: 0px;
}


/* Start OurBestWork */
body.open .OurBestWork{
    filter: blur(5px);
}
.OurBestWork{

    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
/* ?Start swiper */
.OurBestWork .swiper{.OurBestWork .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after ,
    .OurBestWork .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        color: var(--main-color);
        position: absolute;
        top: 50%;
    }
    
}
.OurBestWork .swiper .swiper-slide{
    
}
.OurBestWork .swiper .swiper-slide .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0 0;
    overflow: hidden;
    
}
@media (max-width:991px) {
    .OurBestWork .swiper .swiper-slide .content{
        padding: 48px 0 30px;
    }
}
@media (max-width:768px) {
    .OurBestWork .swiper .swiper-slide .content{
        padding: 48px 0 30px;
    }
}
@media (min-width:991px) {
    .OurBestWork .swiper .swiper-slide .content{
        padding: 80px 0 50px;
    }
    
}
/* ?  left */
.OurBestWork .swiper .swiper-slide .content .left{
    width: 49%;
    position: relative;
    /* padding: 40px 0; */

}
.OurBestWork .swiper .swiper-slide .content .left .ball{
    position: absolute;
    width: 250%;
    top: 50%;
    right: -140px;
    transform: translateY(-50%);
    z-index: 9;
    transition: var(--main-transition);
}
@media (max-width:768px) {
    .OurBestWork .swiper .swiper-slide .content .left .ball{
        right: -80px;
    }
}
.OurBestWork .swiper .swiper-slide .content .left .ball img{
    transition: 0.5s;
    width: 100%;
    height: 100%;
    position: relative;


}


.OurBestWork .swiper .swiper-slide .content .left .img-icon{
    position: relative;
    height: 450px;
    width: 450px;
    left: -170px;
    transition: 0.5s;
    z-index: 20;
}
@media (max-width:991px) {
    .OurBestWork .swiper .swiper-slide .content .left .img-icon{
        height: 300px;
        width: 300px;
        left: -120px;
    }
    
}
@media (max-width:768px) {
    .OurBestWork .swiper .swiper-slide .content .left .img-icon{
        height: 150px;
        width: 150px;
        left: -50px;
    }
}

.OurBestWork .swiper .swiper-slide .content .left .img-icon img{
    position: absolute;
    width: 100%;
    left: 100%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: transparent;
}


/* ?  right */
.OurBestWork .swiper .swiper-slide .content .right{
    width: 43%;
}
.OurBestWork .swiper .swiper-slide .content .right img{
    width: 100%;
}
/* ?End swiper */

.OurBestWork .swiper-slide {
    transition: opacity 0.5s ease ;
    opacity: 0 !important;
  }
  
.OurBestWork  .swiper-slide-active {
    opacity: 1 !important;
  }
  
/* End OurBestWork */

/* ? Start animation */
.OurBestWork .swiper-slide-next .content .left .img-icon,
.OurBestWork .swiper-slide-next .content .left .ball img{
    transform: rotate(360deg);
}
.OurBestWork .swiper-slide-prev .content .left .img-icon,
.OurBestWork .swiper-slide-prev .content .left .ball img{
    transform: rotate(-360deg);
}
/* ? End animation */

/* .OurBestWork .swiper-button-next {
    background-image: url(../../../public/images/shapes/1x/right-arrow-dark.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
   */


/* ? Start change arrow */
    .OurBestWork .swiper-button-next,
    .OurBestWork .swiper-button-prev {
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    width: 40px;
    height: 40px;
  }
  .OurBestWork .swiper-button-next::after,
  .OurBestWork .swiper-button-prev::after {
    display: none;
  }
  /* next */
  body.purple .OurBestWork .swiper-button-next{
    background-image: url(/images/shapes/1x/right-arrow-purple.png);
  }
  body.yellow .OurBestWork .swiper-button-next{
    background-image: url(/images/shapes/1x/right-arrow-yellow.png);
  }
  body.blue .OurBestWork .swiper-button-next{
    background-image: url(/images/shapes/1x/right-arrow\-blue.png);
  }

    /* prev */
    body.purple .OurBestWork .swiper-button-prev {
        background-image: url(/images/shapes/1x/left-arrow-purple.png);
    }
    body.yellow .OurBestWork .swiper-button-prev{
        background-image: url(/images/shapes/1x/left-arrow-yellow.png);
    }
    body.blue .OurBestWork .swiper-button-prev{
        background-image: url(/images/shapes/1x/left-arrow\-blue.png);
    }
  /* ? End change arrow */